body {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Arial, Lucida, Verdana, SimSun, Helvetica, sans-serif !important;
    /*font-size : 62.5%; px数值除以10，然后换上em作为单位*/
    /*min-width:980px;*/
    font-size: 12px !important;
}


.chatgpt-message {
    /*padding-top: 5px;*/
    margin-top: 5px;
    padding-right:30px;
}

.chatgpt-message .webix_template {
    padding: 20px;
    background: #eeeeee;
    border-radius: 10px;
    line-height: 160%;
    /*min-height: 60px;*/
    white-space: pre-line;
}


.chat-head .webix_template {
    border-radius: 7px;
}


.chat-head .webix_template img {
    width: 40px;
    height: 40px;
}