<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="/static/webix/webix.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/css/index.min.css" type="text/css" charset="utf-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<script src="/static/webix/webix.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/wxui.min.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<title>{{getSystemTitle}}</title>
